:root {
  --blue: rgb(72, 88, 166);
  --slateblue: rgb(176, 192, 204);
}
header {
  width: 100vw;
}
nav {
  font-family: Outfit;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.bar {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 0 10%; 
}
.logo {
  align-items: center;
  color: white;
  display: flex;
  font-size: 3vw;
  font-weight: 700;
  justify-content: center;
  width: 8vw;
}
.logo:hover {
  cursor: pointer;
  transition: all .3s ease;
}
.menu {
  width: 100%;
}
ul {
  align-items: center;
  color: var(--slateblue);
  display: flex;
  flex-direction: row;
  height: 4vw;
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
li {
  float: right;
  font-size: 1.5vw;
  padding: 0 .9rem 0 .9rem;
}
li:hover {
  align-items: center;
  background-color: rgb(230, 239, 246);
  color: rgb(153, 164, 223);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: end;
  transition: all .3s ease;
}
section.nav-block-text {
  font-family: "Source Serif Pro";
  width: 100%;
}
.hero-type {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 998;
}
.left-block {
  background-color: var(--blue);
  height: 5.7vw;
  left: 0;
  margin: 0;
  margin-top: 4vw;
  padding: 0;
  text-align: right;
  width: 10.5%;
}
.right-block {
  background-color: var(--blue);
  height: 5.7vw;
  margin: 0;
  margin-top: 4vw;
  padding: 0;
  right: 0;
  text-align: right;
  width: 10.5%;
}
.h1 {
  border: none;
  display: inline-block;
  line-height: 6.8vw;
  width: 84%;
}
.hero-type h1 {
  border: none;
  color: var(--blue);
  font-family: Outfit;
  font-size: 8.2vw;
  font-weight: 900;
  line-height: 6.3vw;
  margin: 0;
  margin-top: 3.4vw;
  padding: 0;
  text-align: center;
}
.kerning {
  letter-spacing: -.25rem;
}
.kerning2 {
  letter-spacing: .27;
}
.hero-page {
  height: 100vh;
  width: 100vw;
}
#cards {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}
.cards {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  position: block;
  width: 80%;
  z-index: -1;
}
.logos, .certifications, .sites {
  background-color: white;
  height: 40vh;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}
.sticker {
  width: 10vw;
}
.well-done {
  filter: drop-shadow(2px 2px 1px #222);
  left: -20%;
  position: relative;
  transform: rotate(26deg);
}
.smiley {
  filter: drop-shadow(2px 2px 1px #222);
  left: 30%;
  position: relative;
  top: 78%;
  transform: rotate(-15deg);
}
.super {
  bottom: -60%;
  filter: drop-shadow(2px 2px 1px #222);
  left: 80%;
  position: relative;
  transform: rotate(-45deg);
}
.coding-languages {
  display: flex;
  margin: 15vh 10% 0 10%;
}
.post-it {
}
.form {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.napkin {
  filter: drop-shadow(2px 2px 1px #222);
  height: 550px;
  margin: 0;
  margin-top: 8vh;
  padding: 0;
  transform: rotate(6deg);
  width: 550px;
}
.contact {
  color: rgb(19, 19, 59);
  font-family: reenie-beanie, sans-serif;
  mix-blend-mode: multiply;
  font-size: 1.9em;
  font-weight: bold;
  width: 550px;
  height: 550px;
  position: absolute;
  z-index: 4;
  padding: 0;
  margin: 0;
  margin-top: 8vh;
  transform: rotate(6deg);
}
.fields {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 6vh;
}
#name {
    background: transparent;
    outline: 0;
    border-width: 0;
    border-color: rgb(19, 19, 59);
}
#email {
  background: transparent;
  outline: 0;
  border-width: 0;
  border-color: rgb(19, 19, 59);
}
#textarea {
  height:3em;
  margin-top: -11vh;
  background: transparent;
  outline: 0;
  border-width: 0;
  border-color: rgb(19, 19, 59);
}