:root {
  --primary-color: rgb(239, 201, 74);
  --secondary-color: rgb(246, 242, 204);
}
header {
  width: 100vw;
}
a {
  text-decoration: none;
  color: unset;
}
nav {
  font-family: Outfit;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.bar {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 20% 1fr;
  overflow: hidden;
  padding: 0 10%; 
}
.logo {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  font-size: 3vw;
  font-weight: 700;
  justify-content: center;
  overflow: hidden;
  width: 8vw;
}
.logo:hover {
  cursor: pointer;
  transition: all .3s ease;
}
.menu {
  width: 100%;
}
ul {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  height: 4vw;
  justify-content: end;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-transform: uppercase;
}
li {
  float: right;
  font-size: 1.5vw;
  padding: 0 .9rem 0 .9rem;
}
li:hover {
  align-items: center;
  background-color: rgb(246, 242, 204);
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: end;
  overflow: hidden;
  transition: all .3s ease;
}
section.nav-block-text {
  font-family: "Source Serif Pro";
  width: 100%;
}
.hero-type {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 998;
}
.left-block {
  background-color: var(--primary-color);
  height: 5.4vw;
  left: 0;
  margin: 0;
  margin-top: 4vw;
  padding: 0;
  width: 10.5%;
}
.right-block {
  background-color: var(--primary-color);
  height: 5.4vw;
  margin: 0;
  margin-top: 4vw;
  padding: 0;
  right: 0;
  width: 10.5%;
}
.h1 {
  border: none;
  display: inline-block;
  width: 84%;
}
.hero-type h1 {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  font-family: Outfit;
  font-size: 8.2vw;
  font-weight: 900;
  line-height: 6vw;
  margin: 0;
  margin-top: 3.4vw;
  padding: 0;
  text-align: center;
}
.kerning {
  letter-spacing: -.25rem;
}
.kerning2 {
  letter-spacing: .27;
}
.hero-page {
  height: 100vh;
  width: 100%;
}
.story {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
  height: 100vh;
}
.headshot {
  display: inline-block;
  padding: 9.4vw 0 0 0;
  left: 0;
}
.blurb {
  display: flex;
  flex-direction: column;
  font-family: "Source Serif Pro";
  font-size: 2vw;
  color: black;
  width: 40vw;
  padding: 14.4vw 10% 0 6%;
}
.blurb p {
  text-justify: left;
  line-height: 2.7vw;

}
#cards {
  background-color: var(--secondary-color);
  height: 100vh;
  padding-top: 9.4vw;
}
.cards {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  position: block;
  width: 80%;
  z-index: 1;
}
.logos, .certifications, .sites {
  background-color: white;
  height: 40vh;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  box-shadow: 2px 2px 2px rgb(98, 96, 79);
}
.certifications {
  background-image: url(/images/cert.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logos{
  background-image: url(/images/eail.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.sites {
  background-image: url(/images/fpf.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position-y: top;
}
.sticker {
  width: 10vw;
  position: relative;
}
.well-done {
  filter: drop-shadow(2px 2px 1px #222);
  left: -20%;
  position: relative;
  transform: rotate(26deg);
}
.smiley {
  filter: drop-shadow(2px 2px 1px #222);
  left: 30%;
  position: relative;
  bottom: -70%;
  transform: rotate(-15deg);
}
.super {
  bottom: -40%;
  filter: drop-shadow(2px 2px 1px #222);
  right: -80%;
  position: relative;
  transform: rotate(-5deg);
}
.coding-languages {
  display: flex;
  justify-content: left;
  margin: 15vh 0 0 0;
  overflow: hidden;
  width: 100vw;
}
.post-it {
  margin: -10% 5% 0 5%;
  padding: 0;
  position: absolute;
}
.form {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
.napkin {
  filter: drop-shadow(2px 2px 1px rgb(94, 79, 28));
  height: 550px;
  margin: 0;
  margin-top: 8vh;
  overflow: hidden;
  padding: 0;
  transform: rotate(6deg);
  width: 550px;
}
.contact {
  color: rgb(19, 19, 59);
  font-family: reenie-beanie, sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  height: 550px;
  margin: 0;
  margin-top: 8vh;
  mix-blend-mode: multiply;
  overflow: hidden;
  padding: 0;
  position: absolute;
  transform: rotate(6deg);
  width: 400px;
  z-index: 4;
}
.fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  overflow: hidden;
  padding-bottom: 6vh;
  margin-right: 0;
  overflow: hidden;
  width: 100%;
}
#name {
    background: transparent;
    border-color: rgb(19, 19, 59);
    border-width: 0;
    outline: 0;
    overflow: hidden;
}
#email {
  background: transparent;
  border-color: rgb(19, 19, 59);
  border-width: 0;
  outline: 0;
  overflow: hidden;
}
#textarea {
  background: transparent;
  border-color: rgb(19, 19, 59);
  border-width: 0;
  height:3em;
  margin-top: -11vh;
  outline: 0;
  overflow: hidden;
}