:root {
  --blue: rgb(72, 88, 166);
  --slateblue: rgb(176, 192, 204);
}

header {
  width: 100vw;
  height: 

}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  font-family: Outfit;
}

.bar {
  padding: 0 10%; 
  display: grid;
  grid-template-columns: 20% 1fr;
  background-color: var(--blue);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 8vw;
  font-weight: 700;
  font-size: 3vw;
}

.logo:hover {
  cursor: pointer;
  transition: all .3s ease;
}

.menu {
  width: 100%;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 4vw;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: var(--slateblue);
}

li {
  font-size: 1.5vw;
  float: right;
  padding: 0 .9rem 0 .9rem;
}

li:hover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  background-color: rgb(230, 239, 246);
  cursor: pointer;
  color: rgb(153, 164, 223);
  height: 100%;
  transition: all .3s ease;
}

section.nav-block-text {
  font-family: "Source Serif Pro";
  width: 100%;
}

.hero-type {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: default;
  z-index: 998;
}

.left-block {
  text-align: right;
  left: 0;
  padding: 0;
  width: 10.5%;
  margin: 0;
  margin-top: 4vw;
  height: 5.7vw;
  background-color: var(--blue);
}

.right-block {
  text-align: right;
  right: 0;
  padding: 0;
  width: 10.5%;
  margin: 0;
  margin-top: 4vw;
  height: 5.7vw;
  background-color: var(--blue);
}

.h1 {
  display: inline-block;
  width: 84%;
  border: none;
  line-height: 6.8vw;

}
.hero-type h1 {
  font-family: Outfit;
  text-align: center;
  font-weight: 900;
  font-size: 8.2vw;
  line-height: 6.3vw;
  margin: 0;
  border: none;
  margin-top: 3.4vw;
  padding: 0;
  color: var(--blue);
}

.kerning {
  letter-spacing: -.25rem;
}

.kerning2 {
  letter-spacing: .27;
}

.hero-page {
  width: 100vw;
  height: 100vh;
}
#cards {
  height: 100vh;
  background-color: rgb(247, 247, 247);

}
.cards {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  column-gap: 2rem;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  position: block;
  z-index: -1;
}

.logos, .certifications, .sites {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  background-color: white;
  height: 40vh;
}

.sticker {
  width: 10vw;
}

.well-done {
  transform: rotate(26deg);
  filter: drop-shadow(2px 2px 1px #222);
  position: relative;
  left: -20%;

}

.smiley {
  transform: rotate(-15deg);
  filter: drop-shadow(2px 2px 1px #222);
  position: relative;
  left: 30%;
  top: 78%;
}

.super {
  transform: rotate(-45deg);
  filter: drop-shadow(2px 2px 1px #222);
  position: relative;
  left: 80%;
  bottom: -60%;
}
.coding-languages {
  display: flex;
  margin: 15vh 10% 0 15%;
}

.post-it {
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--blue);
  width: 100%;
  padding: 0;
  margin: 0;
}

.napkin {
  width: 550px;
  height: 550px;
  padding: 0;
  margin: 0;
  margin-top: 8vh;
  transform: rotate(6deg);
  filter: drop-shadow(2px 2px 1px #222);
}

.contact {
  mix-blend-mode: multiply;
  font-family: reenie-beanie, sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  color: rgb(19, 19, 59);
  width: 550px;
  height: 550px;
  position: absolute;
  z-index: 4;
  padding: 0;
  margin: 0;
  margin-top: 8vh;
  transform: rotate(6deg);
}

.fields {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 6vh;
}

#name {
    background: transparent;
    outline: 0;
    border-width: 0;
    border-color: rgb(19, 19, 59);
}

#email {
  background: transparent;
  outline: 0;
  border-width: 0;
  border-color: rgb(19, 19, 59);
}

#textarea {
  height:3em;
  margin-top: -11vh;
  background: transparent;
  outline: 0;
  border-width: 0;
  border-color: rgb(19, 19, 59);
}